<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Планировщик задач</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">Планировщик задач</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Редактирование профиля<span class="sr-only">(current)</span></a>
                <li class="nav-item dropdown" th:if="${user.name == 'Гость'}" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${user.name}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/users/loginPage}">
                            <span>Войти</span>
                        </a>
                        <a class="dropdown-item" th:href="@{/users/formAdd}">
                            <span>Зарегистрироваться</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${user.name != 'Гость'}" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${user.name}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/users/formEdit}">
                            <span>Редактировать профиль</span>
                        </a>
                        <a class="dropdown-item" th:href="@{/users/logout}">
                            <span>Выйти</span>
                        </a>

                    </div>
                </li>

            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Редактирование профиля.
            </div>
            <div class="card-body">
                <form th:action="@{/users/edit}" method="POST" th:object="${user}">
                    <input type="hidden" name="id" value="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="name">Имя пользователя</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
                        <small id="password-help" class="form-text text-muted">
                            Пароль должен быть длиной 8-20 символов, содержать буквы и цифры
                            и не должен содержать пробелов.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="login">Логин</label>
                        <input type="text" class="form-control" id="login" name="login" th:field="*{login}">
                    </div>
                    <div class="form-group">
                        <label for="timeZone.id">Часовой пояс</label>
                        <select class="form-control" id="timeZone.id" name="timeZone.id">
                            <option th:each="timeZone : ${timeZones}" th:value="${timeZone.id}" th:text="${timeZone.zoneId}" th:selected="${timeZone.id == user.timeZone.id}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Обновить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>